.y-activity {
    flex: 1;
    background-color: $c_white;
    padding: 30px;
    border: 1px solid $c_border;
    border-radius: 4px;
    @media (max-width: 1500px) {
        padding: 20px;
    }
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 767px) {
            flex-direction: column;
            align-items: flex-start;
        }
    }
    &__title {
        font-size: 26px;
        font-weight: 600;
        line-height: 1.23;
        @media (max-width: 767px) {
            font-size: 22px;
            margin-bottom: 10px;
        }
    }
    &__selects {
        display: flex;
        @media (max-width: 767px) {
            flex-direction: column;
            align-items: flex-start;
        }
    }
    &__calendar {
        position: relative;
        margin-right: 30px;
        @media (max-width: 767px) {
            margin-right: 0;
            margin-bottom: 5px;
        }
        ul {
            background-color: $c_white;
            font-size: 12px;
            margin-bottom: 0;
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.28);
        }
        .float-right {
            float: right;
        }
        dropdown ul li {
            display: block;
            opacity: 0.9;
            padding: 15px 20px;
        }
        dropdown ul li:hover {
            color: $c_text;
            cursor: pointer;
        }
        dropdown label {
            position: relative;
            display: flex;
            align-items: center;
            font-size: 16px;
            line-height: 1.19;
            padding: 7px 10px 7px 14px;
            border: 1px solid $c_border;
            border-right: 1px solid $c_border;
            border-radius: 2px;
            @media (max-width: 767px) {
                font-size: 14px;
                padding: 5px 8px;
            }
            &::after {
                display: none;
            }
            span {
                margin-right: 42px;
            }
            z-index: 2;
        }
        dropdown input {
            display: none;
        }
        dropdown input~ul {
            position: absolute;
            visibility: hidden;
            opacity: 0;
            top: 52px;
            z-index: 1;
        }
        dropdown input:checked~ul {
            visibility: visible;
            opacity: 1;
            top: 52px;
        }
        .animate {
            -webkit-transition: all .3s;
            -moz-transition: all .3s;
            -ms-transition: all .3s;
            -ms-transition: all .3s;
            transition: all .3s;
            backface-visibility: hidden;
            -webkit-backface-visibility: hidden;
            /* Chrome and Safari */
            -moz-backface-visibility: hidden;
            /* Firefox */
            -ms-backface-visibility: hidden;
            /* Internet Explorer */
        }
        /*calendar*/
        .pointer {
            cursor: pointer;
        }
        .calendar p {
            margin-bottom: .5em;
            color: $c_text;
        }
        .calendar {
            color: $c_text;
            padding: .5em .5em 1em;
            max-width: 20em;
            min-height: 15em;
            margin: .5em auto;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            .red {
                &:first-child {
                    border-top-left-radius: 50%;
                    border-bottom-left-radius: 50%;
                }
            }
        }
        .calendar li {
            float: left;
            width: -webkit-calc(100%/7);
            text-align: center;
            padding: .25em 0;
            cursor: pointer;
            border-right: 1px solid $c_white;
            border-bottom: 1px solid $c_white;
        }
        .calendar li:hover,
        .calendar li.red {
            background-color: $c_primary;
            color: $c_white;
        }
        .calendar li:nth-child(-n+7) {
            color: #666;
        }
        .center {
            text-align: center;
        }
    }
    &__type {
        button {
            position: relative;
            display: flex;
            align-items: center;
            font-size: 16px;
            line-height: 1.19;
            padding: 7px 10px 7px 14px;
            border: 1px solid $c_border;
            border-radius: 2px;
            background-color: transparent;
            @media (max-width: 767px) {
                font-size: 14px;
                padding: 5px 8px;
            }
            &::after {
                display: none;
            }
            span {
                margin-right: 42px;
            }
        }
        .dropdown-menu {
            border: 0;
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.28);
            min-width: 0;
            right: 0 !important;
            @media (max-width: 767px) {
                font-size: 14px;
            }
        }
    }
    &__bottom {
        flex: 1;
        margin-top: 50px;
        .image-mobile {
            display: none;
            @media (max-width: 767px) {
                display: block;
                min-width: 660px;
            }
        }
        @media (max-width: 1199px) {
            padding-bottom: 30%;
        }
        @media (max-width: 767px) {
            padding-bottom: 0;
            overflow-x: auto;
        }
    }
}