.y-button {
    display: block;
    font-size: 16px;
    line-height: 1.19;
    padding: 10px 20px 12px;
    border-radius: 4px;
    transition: 0.2s all;
    &--primary {
        color: $c_white;
        background-color: $c_primary;
        &:hover {
            color: $c_white;
            background-color: rgba($c_primary, 0.8);
        }
    }
}