.y-content {
    width: 100%;
    padding: 30px;
    background-color: #f4f5f8;
    overflow: auto;
    &__back {
        display: flex;
        justify-content: center;
        color: $c_primary;
        &:hover {
            color: $c_primary;
        }
        svg {
            transform: rotate(90deg);
        }
        span {
            color: inherit;
        }
        .cls-2 {
            stroke: $c_primary;
        }
    }
}