.y-customize {
    position: relative;
    flex-basis: 300px;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: $c_white;
    z-index: 9;
    @media (max-width: 1199px) {
        flex-basis: 218px;
    }
    @media (max-width: 991px) {
        transform: translateX(100%);
        position: absolute;
        top: 0;
        right: 0;
        width: 218px;
        height: 100%;
        transition: 0.2s all;
        &.opened {
            transform: none;
        }
    }
    &.opened {
        transform: none;
        .y-customize__close {
            img {
                transform: rotate(-90deg);
            }
        }
    }
    &__close {
        display: none;
        img {
            transform: rotate(90deg);
            transition: 0.2s all;
        }
        @media (max-width: 991px) {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: -1px;
            left: -30px;
            width: 30px;
            height: 30px;
            background-color: $c_white;
            border: 1px solid $c_border;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            border-right: 0;
        }
    }
    &__inner {
        overflow: auto;
        max-height: 100%;
    }
}