.y-screen {
    $s: &;
    max-width: 1470px;
    width: 100%;
    position: relative;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin: 22px auto 40px;
    background-position-y: top;
    &--tablet {
        max-width: 545px;
        #{$s}__modal {
            padding: 45px 25px 40px;
            max-width: 430px;
        }
    }
    &--mobile {
        max-width: 410px;
        #{$s}__modal {
            padding: 45px 25px 25px;
            max-width: 305px;
        }
    }
    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba($c_text, 0.8);
        z-index: 0;
    }
    &__modal {
        position: relative;
        padding: 45px 65px 40px;
        max-width: 480px;
        width: 100%;
        text-align: center;
        background-color: $c_white;
        border-radius: 4px;
        overflow: hidden;
        z-index: 1;
        &::before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            right: 0;
            height: 8px;
            background-color: #e8562b;
        }
        @media (max-width: 767px) {
            padding: 30px;
        }
    }
    &__modal-close {
        position: absolute;
        top: 13px;
        right: 5px;
    }
    &__modal-title {
        margin-bottom: 15px;
    }
    &__modal-form {
        display: flex;
        flex-direction: column;
    }
    &__modal-input {
        font-size: 14px;
        line-height: normal;
        padding: 10px;
        border-radius: 4px;
        border: solid 1px $c_border;
        width: 100%;
        margin-bottom: 20px;
        &::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            font-size: 14px;
            line-height: normal;
            opacity: 0.4;
        }
        &:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            font-size: 14px;
            line-height: normal;
            opacity: 0.4;
        }
        &::-ms-input-placeholder {
            /* Microsoft Edge */
            font-size: 14px;
            line-height: normal;
            opacity: 0.4;
        }
    }
    &__modal-submit {
        line-height: normal;
        border: 0;
        border-radius: 4px;
        background-color: #e8562b;
        color: $c_white;
        padding: 10px 20px;
    }
}