.y-table {
    flex: 1;
    background-color: $c_white;
    border-radius: 4px;
    border: 1px solid $c_border;
    margin-top: 30px;
    &__table {
        td,
        th {
            border-top: 0;
            border-bottom: 1px solid $c_border;
            vertical-align: middle;
            &.has-amount {
                position: relative;
                &::after {
                    content: attr(data-amount);
                    font-size: 14px;
                    font-weight: 600;
                    display: inline-block;
                    color: $c_white;
                    background-color: $c_primary;
                    border-radius: 50%;
                    width: 23px;
                    height: 23px;
                    text-align: center;
                    margin-left: 6px;
                }
            }
        }
    }
    &__table-head {
        th {
            padding: 0.4rem .75rem;
            border-top: 0;
            border-bottom: 1px solid $c_border !important;
        }
    }
    &__table-dots {
        display: block;
        position: relative;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: $c_text;
        &::before,
        &::after {
            position: absolute;
            content: "";
            display: block;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: $c_text;
        }
        &::before {
            left: -8px;
        }
        &::after {
            right: -8px;
        }
    }
    &__table-dropdown {
        min-width: 0;
        padding: 0.5rem 1.5rem 0.5rem 1rem;
        li {
            a {
                font-size: 15px;
                color: $c_text;
            }
            &:first-child {
                margin-bottom: 5px;
            }
        }
    }
}