.heading {
    text-align: center;
    margin: 65px 0 50px;
    &__subtitle {
        position: relative;
        color: $c_primary;
        font-size: 14px;
        font-weight: 700;
        line-height: 1;
        text-transform: uppercase;
        letter-spacing: 1.4px;
        margin-bottom: 40px;
        @media (max-width: 1199px) {
            margin-bottom: 30px;
        }
        @media (max-width: 991px) {
            font-size: 13px;
            margin-bottom: 20px;
        }
        &::after {
            position: absolute;
            bottom: -12px;
            left: 50%;
            transform: translateX(-50%);
            content: "";
            display: block;
            width: 32px;
            height: 4px;
            background-color: $c_primary;
            @media (max-width: 991px) {
                bottom: -10px;
                width: 28px;
                height: 3px;
            }
        }
    }
    &__title {
        position: relative;
        color: #222527;
        font-size: 40px;
        line-height: 1.25;
        font-weight: 700;
        span {
            font-size: 29px;
            font-weight: 400;
            @media (max-width: 1199px) {
                font-size: 24px;
            }
        }
        &.mod-underline {
            &::after {
                position: absolute;
                bottom: -12px;
                left: 50%;
                transform: translateX(-50%);
                content: "";
                display: block;
                width: 32px;
                height: 4px;
                background-color: $c_primary;
                @media (max-width: 991px) {
                    bottom: -10px;
                    width: 28px;
                    height: 3px;
                }
            }
        }
        @media (max-width: 1199px) {
            font-size: 32px;
        }
        @media (max-width: 991px) {
            font-size: 28px;
        }
    }
}