#leadership {
    padding: 100px 0 150px;
    @media (max-width: 991px) {
        padding: 80px 0;
    }
    @media (max-width: 767px) {
        padding: 50px 0;
    }
}

.leadership {
    &__title {
        color: #222527;
        font-size: 40px;
        font-weight: 700;
        line-height: 0.9;
        margin-top: 50px;
        margin-bottom: 20px;
    }
    &__subtitle {
        color: #222527;
        font-size: 22px;
        font-weight: 700;
        line-height: 1.3;
        margin-bottom: 15px;
    }
    &__text {
        color: #818181;
        font-size: 16px;
        line-height: 1.4;
        margin-bottom: 35px;
    }
    &__item {
        display: flex;
        margin-bottom: 30px;
    }
    &__item-logo {
        flex-basis: 40px;
        width: 40px;
        flex-grow: 0;
        flex-shrink: 0;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-right: 30px;
    }
    &__item-info {}
    &__item-title {
        color: #1a1a1a;
        font-size: 16px;
        font-weight: 700;
        line-height: 1;
        text-transform: uppercase;
        letter-spacing: 3.2px;
        margin-bottom: 10px;
    }
    &__item-text {
        color: #818181;
        font-size: 16px;
        line-height: 1.4;
    }
}