.ying-image {
    &__wrapper {
        position: relative;
        display: inline-block;
        &::before {
            position: absolute;
            display: block;
            content: "";
            top: -18px;
            left: -18px;
            width: 200px;
            bottom: 58px;
            background-color: $c_primary;
            clip-path: polygon(0% 0%, 100% 0%, 0% 100%, 0% 100%);
            z-index: -1;
        }
        &::after {
            position: absolute;
            right: -15px;
            bottom: 60px;
            content: "Leadership";
            display: block;
            color: #ffffff;
            background-color: #2C3051;
            font-size: 22px;
            font-weight: 800;
            line-height: 1;
            padding: 15px 28px 12px;
            text-transform: uppercase;
            letter-spacing: 6.47px;
            transform: rotate(-90deg) translateY(100%);
            @media (max-width: 767px) {
                right: -25px;
                bottom: 50px;
                font-size: 10px;
            }
        }
    }
}