@font-face{
    font-family:BebasNeue Bold;
    src:url("../fonts/BebasNeue Bold.otf") format("opentype")
}

@font-face{
    font-family:BebasNeue Regular;
    src:url("../fonts/BebasNeue Regular.otf") format("opentype")
}