/* Modal--------------------- */
.modal_css{
	border-radius:18px;
	border:0;
	opacity:1;
	
}
.h4-header{
	padding-left: 201px;
	background:#45708f;
	
}
.modal-header {
    background: #45708f;
    border-radius: 15px 15px 0px 0px;
}
.right_name_input{
	text-align:right;
	padding-left:23px;
}
.left_name_input{
	padding-right:23px;
}

