@import url('bebas.css');

/*SECTION WORK=============================================*/
#work {
    background: url("../img/work-backgroud.png") no-repeat center / cover;
}

.numbers__block {
    margin-top: 80px;
    display: flex;
    justify-content: center;
}
.number__item {
    opacity: 0.1;
    text-shadow: 0 0 21px rgba(176, 111, 56, 0.15);
    color: #000;
    font-size: 150px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 70px;
    text-align: center;
}
.image__item {
    text-align: center;
}
.image__item img {
    width: 85px;
    position: relative;
    bottom: 30px;
}
.text__item {
    max-width: 150px;
    text-align: center;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.another__text__item {
    margin-top: 6px;
}
.text__item p {
    font-weight: 400;
}
.how__bottom__text {
    text-align: center;;
    max-width: 750px;
    margin: 0 auto 40px auto;
}
.how__bottom__text p {
    margin: 0;
    font-weight: 100;
}

#work .what__title__block {
    max-width: none;
}
@media screen and (max-width: 767px) {
.how__bottom__text p {

    padding-bottom: 4%;

}}