//primary colors
$c_black: #000000;
$c_white: #FFFFFF;
$c_red: #F84646;

//text colors
$c_text_title: #2E2E2E;
$c_text_body: #808080;
$c_text_body_2: #E5E5E5;

//secondary colors
$c_grey_bg: #F4F5F7;
$c_dark_bg: #1E1E1E;
