body {
  max-width: 1920px;


}

.container {
  max-width: 1240px;
  margin: 0 auto;
  
}

header {
  background: #00AEFF;
  padding: 50px 0px;
}

.header_content {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-between;
}

.hb {
  width: 400px;
  height: 90px;
}

.hb1 {
  background: #009BDD;
}

.hb2 {
  background: #36C3FF;
}

.content {
   
}

aside {
    background: #FF5607;
    width: 20%;
    height: 100%;
}

.aside_content {
    padding: 10px;
}

.aside_block {
    background: #E84900;
    width: 80%;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.aside_block:last-child {
    margin-bottom: 0;
}

.content_content {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
}

.content_right_block {
    width: 80%;
}

.top_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 400px;
}

.orange_block {
    background: #FFBD00;
    height: 400px;
    width: 50%;
}

@media only screen and (max-width: 1240px) {
    .header_content {
    padding: 0 25px;
}
}

@media only screen and (max-width: 865px) {
    .header_content {
    padding: 10px 10px;
        justify-content: center;
}
    
    .hb {
  width: 400px;
  height: 40px;
        margin: 10px 0px; 
}
    
    header {
  padding: 10px 0px;
}
}